{% extends 'layout.html' %}

{% block content %}

<form class="box">
  <label>書名：<input type="text" name="content" data-form-type="other" /></label>
  <button>検索</button>
</form>  

<table>
  <thead>
    <tr>
      <th>書名</th>
      <th>著者</th>
      <th>登録日</th>
      <th>レーティング</th>
    </tr>
  </thead>
  <tbody id="todo_table">
    <tr>
      <td>武器になるHTML</td>
      <td>柴田宏仙</td>
      <td>2024/5/21</td>
      <td>★★★☆☆</td>
    </tr>
    <tr>
      <td>VTuberの哲学</td>
      <td>山野弘樹</td>
      <td>2024/5/21</td>
      <td>★★★★☆</td>
    </tr>
  </tbody>
</table>


{% endblock %}