<ul class="list-group">
{% for todo in todos %}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      {% if todo.done is eq True %}<s>{{ todo.content }}</s>{% endif %}
      {% if todo.done is ne True %}
        <a hx-put="/todo/{{ todo.id }}" hx-vals='{"content": "{{ todo.content }}", "done": "True"}' hx-target="body">{{ todo.content }}</a>
      {% endif %}
    </div>
    <a type="button" hx-delete="/todo/{{ todo.id }}" hx-confirm="本当に削除しますか？" hx-target="body">×</a>
  </li>
{% endfor %}
</ul>