{% macro anchor(text, path) %}
  {% if request.path is eq path %}
    <a href="{{ path }}" class="active" aria-current="page">{{ text }}</a>
  {% endif %}
  {% if request.path is ne path %}
    <a href="{{ path }}">{{ text }}</a>
  {% endif %}
{% endmacro %}

<!doctype html>
<html lang="ja" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test app</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/css/output.css') }}"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
  </head>
  <body hx-boost="true">
    <div class="container mx-auto">
      <header class="bg-white">
        <div class="navbar bg-base-100">
          <div class="navbar-start">
            <div class="dropdown">
              <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h8m-8 6h16"
                  />
                </svg>
              </div>
              <ul
                tabindex="0"
                class="menu dropdown-content menu-sm z-[1] mt-3 w-52 rounded-box bg-base-100 p-2 shadow"
              >
                <li>{{ anchor('Home', '/') }}</li>
                <li>{{ anchor('Todo', '/todo') }}</li>
                <li>{{ anchor('Book list', '/books') }}</li>
              </ul>
            </div>
            <a class="btn btn-ghost text-xl">daisyUI</a>
          </div>
          <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
              <li>{{ anchor('Home', '/') }}</li>
              <li>{{ anchor('Todo', '/todo') }}</li>
              <li>{{ anchor('Book list', '/books') }}</li>
            </ul>
          </div>
          <div class="navbar-end">
            <a class="btn">Button</a>
          </div>
        </div>
      </header>
    </div>
    <main>
      <div class="container mx-auto">
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}
        {% endblock %}
      </div>
    </main>
  </body>
</html>
